<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/tailwind.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <h1 class="text-2xl flex justify-center mt-4">EDIT BLOG POST</h1>

    <%if (blog){ %>
      <div class="flex mx-auto w-full justify-center items-center min-h-[800px]">

        <div class="min-h-[500px] bg-blue-400 p-4 rounded-lg max-w-[700px] w-1/3">
          <form  action="/submit"  method="post" >
          <div class="flex justify-between mb-4 "><label class="  mr-2 w-28 text-white" for ="name ">Username:</label>
            <input  class="flex-1 ml-auto p-2"
              type="text"
              id="username"
              name="name"
              value=" <%= blog.name %>"
        
      
            /><br /><br />
          </div>  

          <div class="flex justify-between mb-4 ">
            <label   class="mr-2 w-28  text-white" for="title">Blog Title:</label>
            <input  class=" flex-1 ml-auto p-2 "
              type="text"
              id="blogtitle"
              name="titleofblog"
              value=" <%= blog.titleofblog %>"
             
      
          
            /><br /><br />
          </div>
            <div class="flex justify-between  mb-4 "> <label  class="mr-2 w-28  text-white" for="blogpost">Date:</label>
              <input  class="flex-1 ml-auto p-2 "
                type="date"
                id="date"

                name="postdate"
                value="<%= blog.postdate %>"
         
              /><br /><br /></div>
           <div class="flex  flex-col mb-0 "> <label class="mr-4 flex-1 mb-4 text-white" for="blogpost">Article:</label>
            <textarea  class="max-w-full h-60" name="blogtext" id="blogtextarea" > <%= blog.blogtext %></textarea>
            <br /><br /></div>

            <div class="flex justify-center mt-0"><input class="bg-lime-400 w-40 h-10 rounded-lg" type="submit" /></div>
            
          </form>
      
        </div>

      </div>

    <%}else {%>

    <%}%>

    
</body>
</html>